<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <title>AFL App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/games.css">
    <script src="hpjs.js"></script>
</head>
<body>
    <div>
        <nav>
          <a class="not-this-one" href="/"><img id="afl" src="/images/AFL.png" alt="AFL Logo"/></a>
          <label><button><a href="/standings">Standings</a></button></label>
          <label><button><a href="/livescore">Live Score</a></button></label>
          <label><button><a href="/games">Fixtures</a></button></label>
        </nav>
        <h1 class="titlu">OH NO! THERE ARE NO LIVE MATCHES AVAILABLE</h1>
      </div>

</body>
</html>
